.container
  .jumbotron
    h1 MEAN Boilerplate
    p Based on Joe Eames' awesome
      a(href="https://github.com/joeeames/multivision-demo", target="_blank") demo
      | .
    p
      i.fa.fa-clock
