div(layout="row" layout-padding)
  div(flex="10" layout="column")
    md-icon(hide-gt-md md-svg-icon="action:ic_exit_to_app_24px")
    md-sidenav.md-sidenav-left(md-component-id="sidenavLeft" md-is-locked-open="$mdMedia('gt-md')")
      md-button.md-primary(ng-click="close()")
        md-icon(md-svg-icon="action:ic_exit_to_app_24px")
      md-button.md-warn(ng-click="vm.signout()")
        md-icon(md-svg-icon="action:ic_exit_to_app_24px")
  div(flex="90" layout="row")
    //md-button(ng-if="vm.identity.currentUser.isAdmin()" href="/#/admin") Adminy-type stuff
    md-button(href="/#/admin") Adminy-type stuff
    md-card(ng-repeat="project in vm.projects")
      md-toolbar.md-primary
        md-button(ng-href="{{project.url}}") {{project.url}}
      md-card-content
        p {{project._id}}
