.navbar.navbar-inverse.navbar-fixed-top(ng-controller="LoginCtrl as vm")
  .container
    .navbar-header
      a.navbar-brand(href="/") MEAN Boilerplate
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/public") Public
        li(ng-show="vm.identity.isAuthorized('admin')")
          a(href="/admin") Admin
        li(ng-show="vm.identity.isAuthenticated()")
          a(href="/gallery") Projects
      form.navbar-form.navbar-right(ng-hide="vm.identity.isAuthenticated()")
        .form-group
          input.form-control(placeholder="Email", ng-model="username")
        .form-group
          input.form-control(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="vm.signin(username, password)") Sign In
      ul.nav.navbar-nav.navbar-right(ng-show="vm.identity.isAuthenticated()")
        li.dropdown
          a.dropdown-toggle(href="", data-toggle="dropdown")
            //| {{vm.identity.currentUser.firstName + " " + vm.identity.currentUser.lastName}}
            | {{vm.identity.currentUser.uid}}
            b.caret
          ul.dropdown-menu
            li
              a(href="", ng-click="vm.signout()") Sign Out
