if process.env.ENV === 'dev'
  //link(rel="stylesheet", href="/vendor/bootstrap/bootstrap.min.css")
  //link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
  link(rel="stylesheet", href="/styles/boilerplate.css")
else
  link(rel="stylesheet", href="/dist/vendor-#{process.env.REV}.min.css")
  link(rel="stylesheet", href='/dist/mean-boilerplate-#{process.env.REV}.min.css')
